@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);
body {
  background: #DBDBDB;
  margin: 0;
  padding: 0; }

header {
  background: #F0F0F0; }

main {
  background: #FFFFFF; }

article {
  padding: 10px; }

footer {
  height: 40px;
  background: #FF9D00;
  background-image: url(../images/BG-Footer.png);
  background-repeat: repeat;
  padding: 10px; }

p {
  color: #FFFFFF; }

#container {
  width: 72.91667%;
  margin: auto; }

#main-nav {
  height: 45px; }
  #main-nav ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none; }
  #main-nav li {
    display: inline-block; }
  #main-nav a {
    padding: 13px;
    display: block;
    color: #FF9D00;
    font-family: "Arial", Serif;
    font-weight: bold;
    text-decoration: none; }
    #main-nav a:after {
      content: '';
      display: block;
      margin: auto;
      height: 3px;
      width: 0px;
      background: transparent;
      transition: width .5s ease, background-color .5s ease; }
    #main-nav a:hover:after {
      width: 100%;
      border-bottom: 3px solid #FFA569; }
  #main-nav .nav-left {
    float: left;
    text-align: left;
    width: 33.33333%; }
  #main-nav .nav-center {
    float: left;
    text-align: center;
    width: 33.33333%; }
  #main-nav .nav-right {
    float: left;
    text-align: right;
    width: 33.33333%; }
