body {
  background: #DBDBDB;
  margin: 0;
  padding: 0; }

header {
  background: #2b2b2b; }

main {
  background: #FFFFFF; }

article {
  padding: 10px; }

footer {
  height: 40px;
  background: #FF9D00;
  background-image: url(../images/BG-Footer.png);
  background-repeat: repeat;
  padding: 10px; }

p {
  color: #FFFFFF; }

#container,
#header,
#footer {
  width: 100%;
  margin: auto; }

#main-nav ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden; }

#main-nav ul.topnav li {
  float: left; }

#main-nav ul.topnav li a {
  display: inline-block;
  color: #FF9D00;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px; }
  #main-nav ul.topnav li a:after {
    content: '';
    display: block;
    margin: auto;
    height: 3px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease; }
  #main-nav ul.topnav li a:hover:after {
    width: 100%;
    border-bottom: 3px solid #FFA569; }

#main-nav ul.topnav li a:hover {
  background-color: #111; }

#main-nav ul.topnav li.icon {
  display: none; }

@media only screen and (min-width: 64em) {
  #container,
  #header,
  #footer {
    width: 72.91667%;
    max-width: 80em;
    margin: auto; } }

@media only screen and (max-width: 64em) {
  #main-nav ul.topnav li:not(:first-child) {
    display: none; }
  #main-nav ul.topnav li.icon {
    float: right;
    display: inline-block; }
  #main-nav ul.topnav.responsive {
    position: relative; }
  #main-nav ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0; }
  #main-nav ul.topnav.responsive li {
    float: none;
    display: inline; }
  #main-nav ul.topnav.responsive li a {
    display: block;
    text-align: left; }
  #main-nav ul.topnav li a:after {
    display: none; }
  #main-nav ul.topnav li a:hover:after {
    display: none; } }

.wrapper,
.row {
  *zoom: 1; }
  .wrapper:before,
  .row:before, .wrapper:after,
  .row:after {
    content: " ";
    display: table; }
  .wrapper:after,
  .row:after {
    clear: both; }

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

img {
  width: auto;
  max-width: 100%;
  height: auto !important; }

.wrapper {
  width: 100%;
  margin: 0 auto; }

[class*='column-'] {
  float: left;
  padding: 1em;
  width: 100%;
  min-height: 1px; }

@media only screen and (min-width: 30em) {
  .wrapper {
    width: 95%;
    max-width: 80em; }
  .column-1 {
    width: 8.33333%; }
  .column-2 {
    width: 16.66667%; }
  .column-3 {
    width: 25%; }
  .column-4 {
    width: 33.33333%; }
  .column-5 {
    width: 41.66667%; }
  .column-6 {
    width: 50%; }
  .column-7 {
    width: 58.33333%; }
  .column-8 {
    width: 66.66667%; }
  .column-9 {
    width: 75%; }
  .column-10 {
    width: 83.33333%; }
  .column-11 {
    width: 91.66667%; }
  .column-12 {
    width: 100%; } }
