@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);

$color-body: #DBDBDB;
$color-footer: #BAAEA6;

$color-white: #FFFFFF;
$color-red: #FF0000;
$color-green: #00FF00;
$color-blue: #0015FF;
$color-pink: #FF0094;
$color-orange: #FF9D00;
$color-gray: #666666;
$color-black: #000000;
$color-nav-hover: #FFA569;

$color-header: #F0F0F0;

$font-stack: Arial, Helvetica, Verdana, Sans-serif;

$font-nav: 'Arial', Serif;
